* {
	font-family: 'Roboto Mono', monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.header {
	border-style: outset;
	border-color: black;
	text-align: center;
	border-radius: 10px;
	background-color: rgba(232,209,116, 0.7);
	margin: 30px;
	padding-left: 10px; 
	padding-right: 10px;
}

body {
	background-color: rgba(77,115,88, 0.9);
}

#firstImage img {
	border: 1px solid black;
}

.content img {
	border: 3px solid black;
	border-radius: 150px;
}

.content p {

	border: 2px solid black;
	display: inline-block;
	background-color: rgba(232,209,116, 0.7);
	font-size: 15px;
}	

/*-------------------- GALLERY STYLING ------------------------------*/
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

